<div class="row">
  <div id="page_title" class="large-12 columns">
    <h2><%= @trip.name %> Summary</h2>
  </div>
</div>

<div class="row">
  <div id="trip_description" class="large-12 columns">
    <p>
      <%= uploaded_image(@trip.picture.thumb.url, type: :trip, class_name: 'trip-image', alt: @trip.name) %>
      <em><%= @trip.location %></em>
      <br />
      <%= @trip.description %>
    </p>
  </div>
</div>

<% @trip.members.each do |member| %>
  <div class="row member-summary">
    <div class="large-12 columns">
      <div class="row member-details">
        <div class="large-12 columns">
          <%= uploaded_image(member.picture.thumb.url, type: :user, class_name: 'member-image', alt: member.name) %>
          <h6><%= member.name %></h6>
        </div>
      </div>

      <div class="row member-summary-section">
        <div class="large-12 columns">
          <strong>Purchases</strong>
        </div>
      </div>

      <% member.purchases.for_trip(@trip).each do |purchase| %>
        <div class="row member-purchase">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-10 columns">
                <%= uploaded_image(purchase.picture.thumb.url, type: :purchase, class_name: 'purchase-image', alt: purchase.name) %>
                <%= purchase.name %>
                <br />
                <em>
                  Purchased for
                  <%= purchase.obligations.select { |o| o.amount > 0 }.map { |o| o.user.name }.to_sentence %>
                </em>
              </div>
              <div class="large-2 columns money">
                $<%= to_money(purchase.cost) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row member-summary-section">
        <div class="large-12 columns">
          <strong>Needs To Pay <%= member.name %></strong>
        </div>
      </div>
      <% owing_members = owed_members(member, @trip) %>
      <% owing_members.each do |owing_member, amount| %>
        <div class="row owing-member">
          <div class="large-10 columns">
            <%= uploaded_image(owing_member.picture.thumb.url, type: :user, class_name: 'owing-member-image', alt: owing_member.name) %>
            <h6><%= owing_member.name %></h6>
          </div>
          <div class="large-2 columns money">
            $<%= to_money(amount) %>
          </div>
        </div>
      <% end %>
      <% if owing_members.empty? %>
        <div class="row empty-row">
          <div class="large-12 columns">
            No one owes money
          </div>
        </div>
      <% end %>

      <div class="row member-summary-section">
        <div class="large-12 columns">
          <strong><%= member.name %> Needs To Pay Back</strong>
        </div>
      </div>
      <% crediting_members = credited_members(member, @trip) %>
      <% crediting_members.each do |crediting_member, amount| %>
        <div class="row crediting-member">
          <div class="large-10 columns">
            <%= uploaded_image(crediting_member.picture.thumb.url, type: :user, class_name: 'crediting-member-image', alt: crediting_member.name) %>
            <h6><%= crediting_member.name %></h6>
          </div>
          <div class="large-2 columns money">
            $<%= to_money(amount) %>
          </div>
        </div>
      <% end %>
      <% if crediting_members.empty? %>
        <div class="row empty-row">
          <div class="large-12 columns">
            Owes no one money
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div id="trip_stats">
    <h3>Trip Stats</h3>
    <div class="trip-stat row">
      <div class="large-12 columns">
        <strong>Total Members</strong>: <%= @trip.members.count %>
      </div>
    </div>
    <div class="trip-stat row">
      <div class="large-12 columns">
        <strong>Total Cost</strong>: $<%= to_money(@trip.total_cost) %>
      </div>
    </div>
    <div class="trip-stat row">
      <div class="large-12 columns">
        <strong>Average Cost</strong>: $<%= to_money(@trip.average_cost_per_member) %>
      </div>
    </div>
    <div class="trip-stat row">
      <div class="large-12 columns">
        <strong>Total Purchases</strong>: <%= @trip.expenses.count %>
      </div>
    </div>
  </div>
<% end %>
